<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testPerformanceOfIndexOf()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>7.1619e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18. Jun 2018 at 17:12:56</string>
				</dict>
			</dict>
			<key>testPerformanceOfIndexOfObject()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>9.9912e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18. Jun 2018 at 17:12:56</string>
				</dict>
			</dict>
			<key>testPerformanceOfIndexOfObjectInRange()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.2075e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18. Jun 2018 at 17:12:56</string>
				</dict>
			</dict>
			<key>testPerformanceOfLastIndexOf()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>7.4486e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18. Jun 2018 at 17:12:56</string>
				</dict>
			</dict>
			<key>testPerformanceOfLastIndexOfObject()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.5835e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18. Jun 2018 at 17:12:56</string>
				</dict>
			</dict>
			<key>testPerformanceOfLastIndexOfObjectInRange()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1141e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18. Jun 2018 at 17:12:56</string>
				</dict>
			</dict>
		</dict>
		<key>SortedArrayTests</key>
		<dict>
			<key>testIndexOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.32278</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
